---
import AnimalCard from "@/components/AnimalCard.astro";
import type { Animal } from "@/modules/models/Animal";
import { ANIMALESDB } from "@/modules/shared/constants/animal.constants";
import { CLASESCSSBG, CATEGORIAS } from "@/modules/shared/enums";
---

<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8" id="allAnimals">
  <h2 class="text-2xl font-bold tracking-tight text-primary">All animals</h2>
  <div
    class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
  >
    {
      (ANIMALESDB as Animal[]).map((animal) => (
        <AnimalCard
          nombre={animal.nombre}
          categoria={animal.categoria}
          palabraUnica={animal.palabraUnica}
          imagen={animal.imagen}
          claseCss={
            animal.categoria === CATEGORIAS.CURIOSO
              ? CLASESCSSBG.CURIOSO
              : animal.categoria === CATEGORIAS.FAVORITO
                ? CLASESCSSBG.FAVORITO
                : animal.categoria === CATEGORIAS.MIEDO
                  ? CLASESCSSBG.MIEDO
                  : CLASESCSSBG.MIEDO
          }
          url=`${animal.url}`
        />
      ))
    }
  </div>
</div>
